@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.header {
    font-family: 'Merriweather';
    text-align: center;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    box-sizing: border-box;
    min-width: 500px;
    min-height: 500px;
    width: 500px;
    height: 500px;
    padding: 0;
}